<form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
      <label for="title">제목</label><br>
      <input type="text" name="title" id="title">
  </div>
  <div>
      <label for="content">내용</label><br>
      <textarea name="body" id="body" cols="30" rows="10"></textarea>
  </div>
  <div>
      <label for="mainphoto">메인 사진</label><br>
      <input type="file" name="mainphoto" id="mainphoto">
  </div>
  <input type="submit" value="글쓰기">
</form>
